:root {
  font-family: "Karla", sans-serif;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 550px;
  outline: 2px solid white;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.Header>img {
  width: 31.31px;
  margin-inline-start: 20px;
}

.Header>h2 {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;

  color: #FFFFFF;

  margin-inline: 6.69px auto;
}

.Header>h4 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;

  color: #FFFFFF;
  margin-inline-end: 37px;
}